//
// Card
//

// -------------------------------------
// 
// * mixins
// 
// -------------------------------------
@mixin card-variant($background, $border) {
  background-color: $background;
  border-color: $border;
}

//
// Inverse text within a card for use with dark backgrounds
//

// @mixin card-outline-variant($color) {
//   background-color: transparent;
//   border-color: $color;
// }
// @mixin card-inverse {
//   .card-header,
//   .card-footer {
//     border-bottom: $card-border-width solid rgba(255,255,255,.2);
//   }
//   .card-header,
//   .card-footer,
//   .card-title,
//   .card-blockquote {
//     color: #fff;
//   }
//   .card-link,
//   .card-text,
//   .card-blockquote > footer {
//     color: rgba(255,255,255,.65);
//   }
//   .card-link {
//     @include hover-focus {
//       color: $card-link-hover-color;
//     }
//   }
// }


// -------------------------------------
// 
// * Type
// 
// -------------------------------------
// 
// ．．．．．．． Tree flow ．．．．．．．
// 
// div.card-group  ---> 用來包覆多個Card
//   ∟ .card       ---> default
//      ∟ .card-img
//      ∟ .card-content
//         ∟ .title
//         ∟ .desc
//         ∟ .info
//            ∟ .date
//            ∟ .tag
// 
// ．．．．．．．．．．．．．．．．．．．．

// ~~~~~ Card-Group ~~~~~
// 
// 目前使用於「神知識首頁列表」
.card-group {
  margin-bottom: $padding-y * 2;
  overflow: hidden;
}


// ~~~~~ Card ~~~~~
//
.card {
  position: relative;
  display: block;
  margin-bottom: $padding-y * 2;
  background-color: $card-bg;
  border: $card-border-width solid $card-border-color;
}



// ~~~~~ Card-image ~~~~~
// 
.card-img {
  margin-bottom: 0;
}

// 圖片上疊字 :: use for '中華資費方案'
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  // extra by SQ
  background-color: rgba($black, .5);
  color: $white;
  p {
    color: $white;
  }
}

// Card image caps
// .card-img-top {
//   @include border-radius($card-border-radius-inner $card-border-radius-inner 0 0);
// }
// .card-img-bottom {
//   @include border-radius(0 0 $card-border-radius-inner $card-border-radius-inner);
// }



// ~~~~~ Card-Content ~~~~~
// 
.card-content {
  position: relative;
  padding: ($padding-x - 4) $padding-x; // ~12/16

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  .title, .caption { 
    margin-top: 0;
    margin-bottom: $padding-y;

    a {
      color: $font-title-color;
      
      &:hover {
        color: $blue;
      }
    }
  }

  // title
  h4 {
    &.title {
      height: $line-height-medium * 2;
      overflow: hidden;
    }
  }

  // ~~~~ use for '神知識首頁 文章列表'
  // desc
  .desc {
    height: $line-height-computed * 3;
    overflow: hidden;
  }
  // info :: include '.dete' & '.tag'
  .info {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }
  // date :: use for '文章上架日'
  .date {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }
  // 純文字Tag :: use for '文章分類'
  .tag-text-primary { margin-left: $padding-x; }

  // ~~~~ use for '會員中心首頁'
  .phone, .mail { margin-bottom: $padding-y / 4; }
  .mail { 
    font-size: $font-size-small; 
    word-wrap: break-word;
    word-break: break-all;
  }
}


// ━─━─━─ ｱﾜﾜ ヽ(´Д｀;≡;´Д｀)丿 ｱﾜﾜ ━─━─━─━ 
// 
// .card-title {
//   margin-bottom: $card-spacer-y;
// }

// .card-subtitle {
//   margin-top: -($card-spacer-y / 2);
//   margin-bottom: 0;
// }

// .card-text:last-child {
//   margin-bottom: 0;
// }

// .card-actions {
//   padding: $card-spacer-y $card-spacer-x;

//   .card-link + .card-link {
//     margin-left: $card-spacer-x;
//   }
// }

// .card-link {
//   @include hover {
//     text-decoration: none;
//   }

//   + .card-link {
//     margin-left: $card-spacer-x;
//   }
// }



// @if $enable-rounded {
//   .card {
//     > .list-group:first-child {
//       .list-group-item:first-child {
//         border-radius: $card-border-radius $card-border-radius 0 0;
//       }
//     }

//     > .list-group:last-child {
//       .list-group-item:last-child {
//         border-radius: 0 0 $card-border-radius $card-border-radius;
//       }
//     }
//   }
// }



//
// Optional textual caps
//

// .card-header {
//   padding: $card-spacer-y $card-spacer-x;
//   background-color: $card-cap-bg;
//   border-bottom: $card-border-width solid $card-border-color;

//   &:first-child {
//     @include border-radius($card-border-radius-inner $card-border-radius-inner 0 0);
//   }
// }

// .card-footer {
//   padding: $card-spacer-y $card-spacer-x;
//   background-color: $card-cap-bg;
//   border-top: $card-border-width solid $card-border-color;

//   &:last-child {
//     @include border-radius(0 0 $card-border-radius-inner $card-border-radius-inner);
//   }
// }


//
// Background variations
//

// .card-primary {
//   @include card-variant($brand-primary, $brand-primary);
// }
// .card-success {
//   @include card-variant($brand-success, $brand-success);
// }
// .card-info {
//   @include card-variant($brand-info, $brand-info);
// }
// .card-warning {
//   @include card-variant($brand-warning, $brand-warning);
// }
// .card-danger {
//   @include card-variant($brand-danger, $brand-danger);
// }

// Remove all backgrounds
// .card-primary-outline {
//   @include card-outline-variant($btn-primary-bg);
// }
// .card-secondary-outline {
//   @include card-outline-variant($btn-secondary-border);
// }
// .card-info-outline {
//   @include card-outline-variant($btn-info-bg);
// }
// .card-success-outline {
//   @include card-outline-variant($btn-success-bg);
// }
// .card-warning-outline {
//   @include card-outline-variant($btn-warning-bg);
// }
// .card-danger-outline {
//   @include card-outline-variant($btn-danger-bg);
// }

//
// Inverse text within a card for use with dark backgrounds
//

// .card-inverse {
//   @include card-inverse;
// }

//
// Blockquote
//

// .card-blockquote {
//   padding: 0;
//   margin-bottom: 0;
//   border-left: 0;
// }




//
// Card set
//

// @if $enable-flex {
//   @include media-breakpoint-up(sm) {
//     .card-deck {
//       display: flex;
//       flex-flow: row wrap;
//       margin-right: -.625rem;
//       margin-left: -.625rem;

//       .card {
//         flex: 1 0 0;
//         margin-right: .625rem;
//         margin-left: .625rem;
//       }
//     }
//   }
// } @else {
//   @include media-breakpoint-up(sm) {
//     .card-deck {
//       display: table;
//       table-layout: fixed;
//       border-spacing: 1.25rem 0;

//       .card {
//         display: table-cell;
//         width: 1%;
//         vertical-align: top;
//       }
//     }
//     .card-deck-wrapper {
//       margin-right: -1.25rem;
//       margin-left: -1.25rem;
//     }
//   }
// }


// @include media-breakpoint-up(sm) {
//   .card-group {
//     @if $enable-flex {
//       display: flex;
//       flex-flow: row wrap;
//     } @else {
//       display: table;
//       width: 100%;
//       table-layout: fixed;
//     }

//     .card {
//       @if $enable-flex {
//         flex: 1 0 0;
//       } @else {
//         display: table-cell;
//         vertical-align: top;
//       }

//       + .card {
//         margin-left: 0;
//         border-left: 0;
//       }

//       // Handle rounded corners
//       @if $enable-rounded {
//         &:first-child {
//           @include border-right-radius(0);

//           .card-img-top {
//             border-top-right-radius: 0;
//           }
//           .card-img-bottom {
//             border-bottom-right-radius: 0;
//           }
//         }
//         &:last-child {
//           @include border-left-radius(0);

//           .card-img-top {
//             border-top-left-radius: 0;
//           }
//           .card-img-bottom {
//             border-bottom-left-radius: 0;
//           }
//         }

//         &:not(:first-child):not(:last-child) {
//           border-radius: 0;

//           .card-img-top,
//           .card-img-bottom {
//             border-radius: 0;
//           }
//         }
//       }
//     }
//   }
// }


//
// Card
//

// @include media-breakpoint-up(sm) {
//   .card-columns {
//     column-count: 3;
//     column-gap: 1.25rem;

//     .card {
//       display: inline-block;
//       width: 100%; // Don't let them exceed the column width
//     }
//   }
// }
