//
// Popovers
//


// -------------------------------------
//
// * Mixin
//
// -------------------------------------
// 固定 popover 顯示寬度
@mixin popover-width-variant($value) {
  width: $value;
  margin-left: -($value / 2);
}


// -------------------------------------
//
// * Type
//
// -------------------------------------
.popover-hover {
  position: relative;
  cursor: pointer;
  
  &:hover {
    .popover {
      display: block;
    }
  }
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-popover;
  // display: block; // 測試用
  display: none;
  @include reset-text();
  font-size: $font-size-small;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $border-default;
  @include border-radius($border-radius-base);
  @include box-shadow(0 5px 10px rgba(0,0,0,.1));

  // Popover directions
  &.top,
  &.bs-tether-element-attached-bottom {
    margin-top: -$popover-arrow-width;

    .popover-arrow {
      bottom: -$popover-arrow-outer-width;
      left: 50%;
      margin-left: -$popover-arrow-outer-width;
      border-top-color: $popover-arrow-outer-color;
      border-bottom-width: 0;
      &::after {
        bottom: 1px;
        margin-left: -$popover-arrow-width;
        content: "";
        border-top-color: $popover-arrow-color;
        border-bottom-width: 0;
      }
    }
  }

  &.right,
  &.bs-tether-element-attached-left {
    margin-left: $popover-arrow-width;

    .popover-arrow {
      top: 50%;
      left: -$popover-arrow-outer-width;
      margin-top: -$popover-arrow-outer-width;
      border-right-color: $popover-arrow-outer-color;
      border-left-width: 0;
      &::after {
        bottom: -$popover-arrow-width;
        left: 1px;
        content: "";
        border-right-color: $popover-arrow-color;
        border-left-width: 0;
      }
    }
  }

  &.bottom,
  &.bs-tether-element-attached-top {
    margin-top: $popover-arrow-width;

    .popover-arrow {
      top: -$popover-arrow-outer-width;
      left: 50%;
      margin-left: -$popover-arrow-outer-width;
      border-top-width: 0;
      border-bottom-color: $popover-arrow-outer-color;
      &::after {
        top: 1px;
        margin-left: -$popover-arrow-width;
        content: "";
        border-top-width: 0;
        border-bottom-color: $popover-arrow-color;
      }
      // 用來增加hover的觸擊範圍
      &::before {
        border-top-width: 0;
        border-color: $transparent;
      }
    }
  }

  &.left,
  &.bs-tether-element-attached-right {
    margin-left: -$popover-arrow-width;

    .popover-arrow {
      top: 50%;
      right: -$popover-arrow-outer-width;
      margin-top: -$popover-arrow-outer-width;
      border-right-width: 0;
      border-left-color: $popover-arrow-outer-color;
      &::after {
        right: 1px;
        bottom: -$popover-arrow-width;
        content: "";
        border-right-width: 0;
        border-left-color: $popover-arrow-color;
      }
    }
  }

  // Size
  &.sm {
    @include popover-width-variant($popover-sm);
  }
  &.md {
    @include popover-width-variant($popover-md);
  }
  &.lg {
    @include popover-width-variant($popover-lg);
  }
}


// Offset the popover to account for the popover arrow
.popover-title {
  padding: $padding-y;
  margin: 0; // reset heading margin
  font-size: $font-size-base;
  background-color: $popover-title-bg;
  border-bottom: 1px solid darken($popover-title-bg, 5%);
  @include border-radius($border-radius-base $border-radius-base 0 0);
}

.popover-content {
  padding: $padding-y;

  // if 'table'
  .css-table {
    &:last-child {
      margin-bottom: 0;
    }
  }
}


// Arrows
//
// .popover-arrow is outer, .popover-arrow::after is inner

.popover-arrow {
  border-width: $popover-arrow-outer-width;

  &,
  &::after,
  &::before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
.popover-arrow::after,
.popover-arrow::before {
  content: "";
  border-width: $popover-arrow-width;
}
