// Pagination

// -------------------------------------
//
// * value
//
// -------------------------------------
$pagination-padding-x:                8px !default;
$pagination-padding-y:                4px !default;
$pagination-padding-x-sm:             $pagination-padding-x / 2 !default;
$pagination-padding-y-sm:             $pagination-padding-y / 2 !default;
$pagination-padding-x-lg:             $pagination-padding-x * 4 !default;
$pagination-padding-y-lg:             $pagination-padding-y * 4 !default;


$pagination-color:                     $gray !default;
$pagination-bg:                        $white !default;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              $border-default !default;

$pagination-hover-color:               $pagination-color !default;
$pagination-hover-bg:                  $silver !default;
$pagination-hover-border:              $pagination-border-color !default;

$pagination-active-color:              $pagination-color !default;
$pagination-active-bg:                 $blue-light !default;
$pagination-active-border:             $pagination-border-color !default;

$pagination-disabled-color:            $gray !default;
$pagination-disabled-bg:               $gray-light !default;
$pagination-disabled-border:           $pagination-border-color !default;


// -------------------------------------
//
// * Mixins
//
// -------------------------------------
@mixin pagination-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  > li a {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
  }

  &:first-child {
    .page-link {
      @include border-left-radius($border-radius);
    }
  }
  &:last-child {
    .page-link {
      @include border-right-radius($border-radius);
    }
  }
}

// -------------------------------------
//
// * Type
//
// -------------------------------------
// div.pagination
//   ∟ ul.pagination-nav ------> default
//      ∟ li
//         ∟ a           <----- 實際上是由這裡撐開點擊範圍(padding)
//   ∟ span.pagination-goto
.pagination {
  margin-top: $padding-y * 3;     // ~24
  margin-bottom: $padding-y * 3;  // ~24
  text-align: center;
}

.pagination-nav {
  display: inline-block;

  > li {
    display: inline-block;

    a {
      display: inline-block;
      padding: $pagination-padding-y-sm $pagination-padding-x;
      margin-left: $pagination-padding-x-sm / 2;
      margin-right: $pagination-padding-x-sm / 2;
      font-size: $font-size-small;
      border: 1px solid $border-default;
      @include border-radius($border-radius-base);

      &:hover {
        @include hover-focus {
          color: $pagination-hover-color;
          background-color: $pagination-hover-bg;
          border-color: $pagination-hover-border;
        }
      }
    }

    // arrow : prev & next
    &:first-child, &:last-child {
      a {}
    }

    // focus
    &.active a {
      @include plain-hover-focus {
        z-index: 2;
        color: $pagination-active-color;
        cursor: default;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
      }
    }

    // disable
    &.disabled a {
      @include plain-hover-focus {
        color: $pagination-disabled-color;
        cursor: $cursor-disabled;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border;
      }
    }
  }
}

// 前往頁數
.pagination-goto {
  display: inline-block;
  margin-left: $grid-padding;
  font-size: $font-size-small;

  // input-mini
  input[type="text"], input[type="number"] {
    width: 64px;
    padding: $pagination-padding-y-sm $pagination-padding-x;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-large, $line-height-large, $border-radius-large);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-small, $line-height-small, $border-radius-small);
}
