// Your fb-page code
.fb-page(data-href='https://www.facebook.com/senao.taiwan/', data-tabs='timeline', data-height='320px', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
  .fb-xfbml-parse-ignore
    blockquote(cite='https://www.facebook.com/senao.taiwan/')
      a(href='https://www.facebook.com/senao.taiwan/') Facebook
