doctype html
html(lang = "zh-tw")
  head
    meta(charset = "UTF-8")/
    block title
      title 神腦線上購物
    // PC版不加 viewport
    meta(content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name = "viewport")/
    meta(content = "IE=edge", "http-equiv" = "X-UA-Compatible")/
    link(href = "/public/stylesheets/plugins.css", rel = "stylesheet")/
    link(href = "/public/stylesheets/main.css", rel = "stylesheet")/
  body


    .wrapper
      .container
        h2 假頁面

        h4 系統效能
        .css-table
          .css-tr
            .css-th CPU處理器
            .css-td 64 位元處理器
          .css-tr
            .css-th 作業系統
            .css-td iOS 9
          .css-tr
            .css-th 記憶體
            .css-td 2GB
          .css-tr
            .css-th 內建儲存空間
            .css-td 64GB
          .css-tr
            .css-th 支援記憶卡
            .css-td 否


    script(src = "/public/javascripts/vendor/jquery-custom.min.js")
    script(src = "/public/javascripts/vendor/jquery.bxslider.min.js")

    script(src = "/public/javascripts/main.js")

    include ../../_layouts/_elements/ga.jade
