
meta(charset = "UTF-8")/
meta(content = "IE=edge", "http-equiv" = "X-UA-Compatible")/
meta(content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name = "viewport")/

//- 文章頁寫作者, 其他統一寫神腦線上
<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />
//- 同title tag
<meta property="og:title" content="" />
//- type產品頁product, 文章頁article, 預設website
<meta property="og:type" content="website" />
//- 除必要性參數外盡量不要有其他參數存在
<meta property="og:url" content="" />
//- image產品及文章外需要預設圖片
<meta property="og:image" content="" />

link(href = "/public/stylesheets/plugins.css", rel = "stylesheet")/
link(href = "/public/stylesheets/main.css", rel = "stylesheet")/
link(href = "/public/stylesheets/print.css", rel = "stylesheet", media="print")/
