script(src = "/public/javascripts/vendor/jquery-custom.min.js")
script(src = "/public/javascripts/vendor/jquery.bxslider.min.js")
//- script(src = "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js")
//- script(src = "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/zh-tw.js")

script(src = "/public/javascripts/main.js")
