.header-topbar
  .container
    ul.nav.nav-inline.pull-right
      li
        a(href='/', title='ＯＯＯＯ', target='_blank') ＯＯＯＯ
      li
        a(href='/', title='ＯＯＯＯ', target='_blank') ＯＯＯＯ
      li
        a(href='/', title='ＯＯＯＯ', target='_blank')   ＯＯＯＯ
      li
        a.share-fb(href='https://www.facebook.com.tw', title="FB粉絲團", target="_blank")
          i.icon.icon-facebook
          | &nbsp;FB粉絲團
