//- 訂單資訊

.css-table.fill.blue
  .css-tr
    .css-th 訂單編號
    .css-th 訂購日期
    .css-th 配送方式
    .css-th 訂單狀態
  .css-tr
    .css-td
      b 2016041498765
    .css-td 2016/04/13
    .css-td 宅配
    .css-td 已送達
