//- 發票資訊

h4.css-table-caption 發票資訊
.css-table.middle
  .css-tr
    .css-th.align.right.w-f8 發票類型
    .css-td 會員載具
  .css-tr
    .css-th.align.right.w-f8 發票狀態
    .css-td 已託管
  .css-tr
    .css-th.align.right.w-f8 是否中獎
    .css-td 尚未對獎
  .css-tr
    .css-th.align.right.w-f8 發票收件人
    .css-td 李曉明
  .css-tr
    .css-th.align.right.w-f8 發票收件地址
    .css-td 123 台北市***77號7樓
  .css-tr
    .css-th.align.right.w-f8 統一編號
    .css-td VH99999999
  .css-tr
    .css-th.align.right.w-f8 公司抬頭
    .css-td
