//- 注意事項

.alert.alert-info
  p.h4.spacing.bottom.sm 注意事項
  ul.has-type-disc
    li 商品將於出貨後，您可以查詢物流單號，您可直接點選，即可至貨運網站查詢最新配送進度。
    li 門市取貨的商品，將於訂單付款確認後寄出，期間若有任何問題將再email通知您。待商品抵達指定門市後，將email及簡訊通知您前往取貨。
    li 商品出貨後，將開立電子發票(三聯式發票除外)並email通知您。您可點選發票號碼，查詢發票資料或索取正本。
