//- 已退貨商品
//- 有退貨才顯示

h4.css-table-caption 已退貨商品
.css-table.middle.align.center
  // 標題
  .css-tr
    .css-th.align.left 商品名稱
    .css-th.w-f6 規格
    .css-th.w-f4 數量
    .css-th.w-f6.align.right 小計
  // 內容
  .css-tr
    .css-td.align.left
      | Samsung Galaxy S6 Edge 64G 5.1吋八核雙曲面智慧旗艦機（炫燦金）
      a.icon.icon-camera(href="#inline-bs-modal-img", data-toggle="modal", data-target="#inline-bs-modal-img", src="/public/images/product-detail-0.jpeg")
    .css-td.w-f6 金色
    .css-td.w-f4 2
    .css-td.w-f6.align.right $39,600
  .css-tr
    .css-td.align.left
      span.tag.tag-extra-outline.tag-mini 贈品
      | Samsung L768 立體聲耳機
    .css-td.w-f6
    .css-td.w-f4 1
    .css-td.w-f6.align.right $0
  .css-tr
    .css-td.align.left
      span.tag.tag-secondary-outline.tag-mini 加購價
      | SAMSUNG 三星 原廠 8400mAh 行動電源（藍）
      a.icon.icon-camera(href="#inline-bs-modal-img", data-toggle="modal", data-target="#inline-bs-modal-img", src="/public/images/product-detail-0.jpeg")
    .css-td.w-f6 藍色
    .css-td.w-f4 1
    .css-td.w-f6.align.right $19,800