//- 訂購資訊

h4.css-table-caption 訂購資訊
.css-table.middle
  .css-tr
    .css-th.align.right.w-f8 收件人
    .css-td 王**
  .css-tr
    .css-th.align.right.w-f8 手機
    .css-td 0912***678
  .css-tr
    .css-th.align.right.w-f8 市話
    .css-td 02-22****22
  .css-tr
    .css-th.align.right.w-f8 Email
    .css-td yourname@domin.com
  // ### 依配送方式，擇一顯示「收件地址」或「門市取貨」欄位
  .css-tr
    .css-th.align.right.w-f8 收件地址
    .css-td 123 台北市***77號7樓
  .css-tr
    .css-th.align.right.w-f8 門市取貨
    .css-td
      | 特約嘉義民族-特約中心 (嘉義市西區民族路52號)
      span.spacing
        i.icon.icon-google-map
        a.underline(href='https://www.google.com.tw/maps?q=嘉義市西區東區民族路52號', target='_blank') 顯示地圖
      br
      | 營業時間：週一至週五 11:00~21:30，週六/日 11:00~22:00
