//- 付款方式

// 付款方式 : 三擇一
h4.css-table-caption 付款方式

// A: 一次付款
.css-table.middle
  .css-tr
    .css-th.align.right.w-f8 付款方式
    .css-td 信用卡一次付款
  .css-tr
    .css-th.align.right.w-f8 信用卡銀行
    .css-td
      b 花旗銀行
  .css-tr
    .css-th.align.right.w-f8 總金額
    .css-td
      b $39,150

// B: 分期付款
.css-table.middle
  .css-tr
    .css-th.align.right.w-f8 付款方式
    .css-td 信用卡分期付款
  .css-tr
    .css-th.align.right.w-f8 信用卡銀行
    .css-td
      b 花旗銀行
      b.spacing 3期
  .css-tr
    .css-th.align.right.w-f8 總金額
    .css-td
      b $39,150

// C: ATM轉帳
.css-table.middle
  .css-tr
    .css-th.align.right.w-f8 付款方式
    .css-td ATM轉帳
  .css-tr
    .css-th.align.right.w-f8 付款狀態
    .css-td 待付款
  .css-tr
    .css-th.align.right.w-f8 應付金額
    .css-td
      b $39,150
  .css-tr
    .css-th.align.right.w-f8 銀行代碼
    .css-td
      b.notice 國泰世華 (代碼：013)
  .css-tr
    .css-th.align.right.w-f8 轉帳帳號
    .css-td
      b.notice 148556789012
  .css-tr
    .css-th.align.right.w-f8 繳費期限
    .css-td
      p
        b.notice 2016/04/01 23:59
      p (提醒您：逾期繳費，轉帳帳號即失效)
