extends ../_layouts/layout-template

block content

  - var product_tab_box = [{ name : "手機/平版" , color : "#0090D4" },{ name : "美裝家電" , color : "#D24894" },{ name : "周邊配件" , color : "#13A6A9" },{ name : "數位相機" , color : "#B640EE" }];

  aside.col-md-5
    | col md 5
  main.col-md-19
    | col md 19
