//- index fixed ad
.ad.ad-rail.fixed
  .clearfix
    a.btn-close(href='javascript:;')
      i.icon.icon-close
  figure
    p.figure-title
      a(href='') 下載APP
    img.figure-img(src='/public/images/tt-qrcode.svg', alt='')
